<h1>LOGIN FORM PAGE</h1>

<%= @form_for @user, url: "/sessions", method: 'post' do |f| %>
  <%= f.text_field :email, placeholder: "Email" %><br />
  <%= f.text_password_field :password, placeholder: "Password" %><br />
  <%= f.submit "Log-in" %>
<% end %>
