
<div class="text-field form-group">
  <%= form.label :name %>
  <%= form.text_field :name, type: 'name', class: 'form-control', :required => true, placeholder: 'Full Name' %>
</div>

<div class="text-field form-group">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email', class: 'form-control', :required => true, placeholder: 'example@example.com' %>
</div>
