
<div id='edit-user' class= 'edit-user-container'>

  <%= form_for(@user, html: { class: 'form-horizontal col-sm-offset-2 col-sm-8 edit-form-user' }) do |form| %>
  <div class='edit-form col-sm-offset-2 col-sm-8'>
    <%= render partial: 'users/form', object: form %>
    <div class='submit-field'>
      <%= form.submit "Save Updates", class: "btn btn-default" %>
    </div>
<% end %>
</div>
</div>
