<h1>New Story Form for <%= @building.name %></h1>

<!-- below adds "choose photo" button to our new story form -->
<%= form_for @photo, url: new_building_story_path, html: { multipart: true } do |form| %>
  <%= form.file_field :img %>
<% end %>
