<div class="container">
  <div class="row display-flex">
    <div class="col-xs-10 col-md-4">
      <div class="thumbnail">
          <%= image_tag('225bush.jpg', style: 'height:92%; width:100%;') %>
          <div class="caption">
            <p>225 Bush St</p>
          </div>
      </div>
    </div>
    <div class="col-xs-10 col-md-4">
      <div class="thumbnail">
          <%= image_tag('flatiron.jpg', style: 'height:92%; width:100%;') %>
          <div class="caption">
            <p>916 Kearny St</p>
          </div>
      </div>
    </div>
    <div class="col-xs-10 col-md-4">
      <div class="thumbnail">
          <%= image_tag('old_chronicle.jpg', style: 'height:92%; width:100%;') %>
          <div class="caption">
            <p>690 Geary St</p>
          </div>
      </div>
    </div>
  </div>
</div>
