<div class="container" style="margin-top:10px;">
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-image hide-panel-body">
          <%= image_tag('225bush.jpg', class: 'panel-image-preview') %>
          <label for="toggle-1"></label>
        </div>
        <div class="panel-footer text-center">
          <p>225 Bush St</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-image">
          <%= image_tag('flatiron.jpg', class: 'panel-image-preview') %>
          <label for="toggle-2"></label>
        </div>
        <div class="panel-footer text-center">
          <p>916 Kearny St</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="panel panel-default">
        <div class="panel-image hide-panel-body">
          <%= image_tag('old_chronicle.jpg', class: 'panel-image-preview') %>
          <label for="toggle-3"></label>
        </div>
        <div class="panel-footer text-center">
          <p>690 Geary St</p>
        </div>
      </div>
    </div>
  </div>
</div>
