

  <div class="container-fluid blueprints">
    <div class="jumbotron">
      <h1>WTB - What's that building?</h1>
      <p>A place for all things building.</p>
    </div>
    <p>This is some text.</p>
    <p>This is another text.</p>
  </div>
