<h1>Add New Photo to <%= @story.title %> </h1>

<%= form_for @photo, url: "/buildings/#{@building.id}/stories/#{@story.id}/photos", method: "post", html: { multipart: true } do |f| %>
  <div>
    <%= f.file_field :img %>
  </div>

  <div>
    <%= f.submit 'Upload Photo' %>
  </div>

<% end %>
